/**
 * @name Kosmarik
 * @author svorogaze
 * @authorLink https://github.com/svorogaze
 * @version 1.0
 * @description Simple dark theme 
 * @source https://github.com/svorogaze/bd-Kosmarik-theme
 * @authorId 367727766944088064
 */
@import url("https://svorogaze.github.io/bd-Kosmarik-theme/main.theme.css");
 :root
{
    --background-color-1:rgb(40, 41, 45);
    --background-color-2: rgb(53, 53, 59);
    --discord-experiment:#4f545c;
    --background-chat:rgba(40, 41, 45, 0.6);
    --background-sides:rgba(40, 41, 45, 0.8);
    --button-background-hover:rgb(78, 78, 87);
    --selected-channel-color:rgb(37, 130, 173);
    --mention-color: rgb(30, 130, 197);
    --mention-background:rgba(12, 181, 187, 0.157);
    --code-background:var(--background-sides);
    --main:  #34dbd3;
    --close-window-button-color:#ff605c;
    --max-window-button-color:#00ca4e;
    --hide-window-button-color:#ffbd44;
    --code-border: var(--main);
    --home-icon: url('https://svorogaze.github.io/bd-Kosmarik-theme/images-icons/home-icon.gif');
    --background-image: url('https://svorogaze.github.io/bd-Kosmarik-theme/images-icons/background.jpg');
    --popouts-border-radius: 40px;
    --bars-border-radius: 20px;
    --window-buttons-border-radius: 8px;
    --hover-button-border: 1.5px solid var(--main);
    --reaction:rgb(61, 61, 66);
    --reacted-reaction:rgb(42, 43, 47);
    --background-folders:rgb(47, 47, 53);
}

.theme-dark,
.theme-light
{
    /*discord vars */
   --background-floating: var(--background-color-2);
   --background-secondary: var(--background-color-1);
   --background-tertiary: var(--background-color-1);
   --background-modifier-accent:#414040fd;
   --background-modifier-selected: var(--background-color-2);
   --background-modifier-active: var(--background-color-2);
   --background-secondary-alt: var(--background-color-1);
   --background-primary: var(--background-color-1);
   --background-accent: var(--background-color-2);
   --brand-experiment-560:var(--button-background-hover) !important;
   --brand-experiment-600: var(--button-background-hover) !important;
   --brand-experiment: var(--discord-experiment) !important;
   --background-mentioned:var(--mention-background);
   --background-mentioned-hover:var(--mention-background);
    --scrollbar-thin-thumb: var(--main);
    --scrollbar-thin-track: transparent;
    --text-muted: var(--main); 
    --scrollbar-auto-scrollbar-color-thumb: var(--main);
    --scrollbar-auto-scrollbar-color-track:transparent;
    --deprecated-text-input-bg: var(--background-color-1);
    --deprecated-text-input-border:none;
    --deprecated-text-input-border-hover: 0px solid transparent;
    --font-display:var(--font-primary) !important;
    --deprecated-store-bg:var(--background-sides);
}

.theme-light
{
    --text-normal:#dcddde;
    --brand-experiment-530:rgb(222, 224, 252) !important;
    --interactive-active:rgb(255, 255, 255);
    --header-primary:white;
    --interactive-active:white;
    --interactive-normal:#b9bbbe;
    --interactive-muted:#4f545c;
    --channels-default:#8e9297;
    --header-secondary:#b9bbbe;
    --interactive-hover:#dcddde;
}
