/**
 * @name Kosmarik
 * @author svorogaze
 * @authorLink https://github.com/svorogaze
 * @version 1.0
 * @description Simple dark theme 
 * @source https://github.com/svorogaze/bd-Kosmarik-theme
 * @authorId 367727766944088064
 */
@import url("https://svorogaze.github.io/bd-Kosmarik-theme/main.theme.css");
:root
{
    --background-color-1:rgb(40, 41, 45);
    --background-color-2: rgb(53, 53, 59);
    --discord-experiment:#4f545c;
    --background-chat:rgba(40, 41, 45, 0.6);
    --background-sides:rgba(40, 41, 45, 0.8);
    --button-background-hover:rgb(78, 78, 87);
    --selected-channel-color:rgb(37, 130, 173);
    --mention-color: rgb(30, 130, 197);
    --mention-background:rgba(12, 181, 187, 0.157);
    --code-background:var(--background-sides);
    --main:  #34dbd3;
    --close-window-button-color:#ff605c;
    --max-window-button-color:#00ca4e;
    --hide-window-button-color:#ffbd44;
    --code-border: var(--main);
    --home-icon: url('https://raw.githubusercontent.com/svorogaze/bd-Kosmarik-theme/84862db8b9fa579219d8324b0deb8362d7c74a29/images-icons/home-icon.gif');
    --background-image: url('https://raw.githubusercontent.com/svorogaze/bd-Kosmarik-theme/84862db8b9fa579219d8324b0deb8362d7c74a29/images-icons/background.jpg');
    --popouts-border-radius: 40px;
    --bars-border-radius: 20px;
    --window-buttons-border-radius: 8px;
    --hover-button-border: 1.5px solid var(--main);
    --reaction:rgb(61, 61, 66);
    --reacted-reaction:rgb(42, 43, 47);
    --background-folders:rgb(47, 47, 53);
}
